<footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Company Info</h5>
          <p>CRM Solutions Inc.<br>1234 Business Ave, Suite 100<br>City, State, 12345<br>Phone: (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Help Center</a></li>
            <li><a href="#" class="text-white">User Guide</a></li>
            <li><a href="#" class="text-white">Privacy Policy</a></li>
            <li><a href="#" class="text-white">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <a href="#" class="text-white">Twitter</a> | 
          <a href="#" class="text-white">LinkedIn</a> | 
          <a href="#" class="text-white">Facebook</a>
          <p class="mt-3">Version 2.1.0</p>
          <form>
            <div class="mb-2">
              <input type="email" class="form-control" placeholder="Subscribe to our newsletter">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="mt-3">
        <p>© 2024 CRM Solutions Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  